
@charset "utf-8";

body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
}

.page_name {
  text-align: center;
  font-size: 30pt;
  color: #333333;
  background: #ccc;
}

/* .booklist {
  text-align: center;
  color: #911A16;
} */

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
td {
  border: solid 1px;
  padding: 10px;
}

.title { 
  font-size: 15pt;
}

#search_text {
  text-align: right;
}

/* チェックを入れると表示 */
input#is_borrowable[type=checkbox]:checked ~ * .can_borrow {
  visibility:visible;
}
input#isnot_borrowable[type=checkbox]:checked ~ * .cannot_borrow {
  visibility:visible;
}

/* チェックが入っていないときは表示しない*/
.can_borrow, .cannot_borrow {
  visibility: collapse;
}

a {
  text-decoration: none;
}